body{
	background-color: #999999;
}

div.myStyle {
	font-family: 'Lekton', sans-serif;
	text-align: center;
    margin: 20px 0 20px 0;
    padding: 20px;
}


	/** Text stuff */
	
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: italic;
	text-decoration: line-through;
	color: #e2e2e2;
	font-size: 400px;
	line-height: 40px;
	padding-bottom: 50px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #e2e2e2;
	font-size: 40px;
}

#map{
	display: inline;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	opacity: 0.3;
}

#chatLabel{
	background-color:#3973ac;
}

#chatInput{
	position:fixed;
	bottom:0;
}
